html,
body {
    height: 100%;
}

.text_box {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    
}

#container{
    width: 100%;
    height: 70%;
    background-color: white;
    display: flex;
    margin: 0 auto;
}

#undo{
    margin:auto;
    display:block;
}


#clear{
    margin:auto;
    display:block;
}